---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Jeanine White" description="About Jeanine White Lorem Ipsum">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Merci d'être passé. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						D'une formation initiale en informatique, j'ai évolué aux fils des années 
						dans de nombeux métiers de la tech.
						Tour à tour technicien, je me suis lancée dans le développement web.
					</p>
					<p>
						Enthousiaste développeur web avec une passion pour la
                création de sites web et d'applications conviviaux et
                performants. Diplômé en Licence 3 en informatique, j'ai acquis
                des compétences solides en développement front-end et back-end.
                Je suis déterminé à rester à jour avec les dernières
                technologies et à fournir des solutions innovantes.
					</p>
					<p>
						Ce qui me caractérise le plus, c'est ma  capacité à m'adapter rapidement
						 à de nouveaux environnements et à apprendre de nouvelles choses
						 et de nouvelles technologies. <br>
						 D'une nature ouverte, j'accorde  une grande importance au respect, 
						 à la communication et au partage de connaissances.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Diplômes</h2>
				<div class="content">
					<p>Licence en Programmation et Développement web - SUP'INFO .
					</p>
					<p>
						DUT en Sytémes  d'Information (SI) - Ecole  Supérieure Polytechnique de Dakar (ESP)
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>Curieux, Créatif, Autonome, Organisé, Dynamique,Polyvalent, Travail en équipe</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
